In [38]:
#Tugas UAS Artificial Inteligence
#Nama  : Muhammad Irvan Hidayat
#NIM   : 221011402425
#Kelas : 05TPLM007

company_detail_list = [
    {
        'name': 'Gorrrior',
        'domain': 'Kehutanan',
        'country': 'United States'
    },
    {
        'name': 'Unilevieure',
        'domain': 'Teknologi',
        'country': 'United Kingdom'
    },
    {
        'name': 'Mineralleee',
        'domain': 'Kesehatan',
        'country': 'United States'
    }
]

employee_detail_list = [
    {
        'name': 'EMP-0001',
        'first_name': 'John',
        'last_name': 'Doe',
        'full_name': 'John Doe',
        'company': 'Gorrrior',
        'nationality': 'Australia'
    },
    {
        'name': 'EMP-0002',
        'first_name': 'Tom',
        'last_name': 'Smith',
        'full_name': 'Tom Smith',
        'company': 'Mineralleee',
        'nationality': 'United States'
    },
    {
        'name': 'EMP-0003',
        'first_name': 'Andrew',
        'last_name': 'Sebastian',
        'full_name': 'Andrew Sebastian',
        'company': 'Unilevieure',
        'nationality': 'United States'
    },
    {
        'name': 'EMP-0005',
        'first_name': 'Ying Han',
        'last_name': 'Tan',
        'full_name': 'Ying Han Tan',
        'company': 'Gorrrior',
        'nationality': 'Australia'
    },
    {
        'name': 'EMP-0015',
        'first_name': 'Kenneth',
        'last_name': 'Ng',
        'full_name': 'Kenneth Ng',
        'company': 'Unilevieure',
        'nationality': 'United States'
    },
    {
        'name': 'EMP-0018',
        'first_name': 'Rubby',
        'last_name': 'Lee',
        'full_name': 'Rubby Lee',
        'company': 'Mineralleee',
        'nationality': 'Hong Kong'
    },
    {
        'name': 'EMP-0017',
        'first_name': 'Robert',
        'last_name': 'White',
        'full_name': 'Robert White',
        'company': 'Gorrrior',
        'nationality': 'United Kingdom'
    }
]

In [39]:
data_graph = {
    "company": [data["name"] for data in company_detail_list] # x
}

In [40]:
data_map = [data["name"] for data in company_detail_list]
data_map

['Gorrrior', 'Unilevieure', 'Mineralleee']

In [41]:
# Tugas 1

name = data_map.copy()  # Membuat salinan data_map agar data_map asli tidak terpengaruh
name.sort(reverse=True)
name

['Unilevieure', 'Mineralleee', 'Gorrrior']

In [42]:
# Tugas 2

for index, company in enumerate(company_detail_list, start=1):
    print(f"Company {index}: {company['domain']} (\"{company['country']}\")")

Company 1: Kehutanan ("United States")
Company 2: Teknologi ("United Kingdom")
Company 3: Kesehatan ("United States")

In [43]:
#Tugas 3

# inisialisasi dictionary untuk mengelompokkan full_name berdasarkan company
data_map = defaultdict(list)

# loop untuk menambahkan full_name 
for employee in employee_detail_list:
    company_name = employee['company']
    full_name = employee['full_name']
    data_map[company_name].append(full_name)

#hasil
for company, full_names in data_map.items():
    print(f"Company: {company}")
    for name in full_names:
        print(f"  - {name}")

Company: Gorrrior
  - John Doe
  - Ying Han Tan
  - Robert White
Company: Mineralleee
  - Tom Smith
  - Rubby Lee
Company: Unilevieure
  - Andrew Sebastian
  - Kenneth Ng

In [46]:
# Menginisialisasi list untuk menyimpan hasil
formatted_employee_list = []

# Loop untuk membuat struktur data yang diinginkan
for employee in employee_detail_list:
    # Membuat format baru dan menambahkannya ke list hasil
    formatted_employee = {
        "full_name": employee['full_name'],
        "company": employee['company'],  # Mengambil nama perusahaan
        "country": employee['nationality']  # Mengambil negara dari atribut nationality
    }
    formatted_employee_list.append(formatted_employee)

# Cetak hasil
for emp in formatted_employee_list:
    print(emp)

{'full_name': 'John Doe', 'company': 'Gorrrior', 'country': 'Australia'}
{'full_name': 'Tom Smith', 'company': 'Mineralleee', 'country': 'United States'}
{'full_name': 'Andrew Sebastian', 'company': 'Unilevieure', 'country': 'United States'}
{'full_name': 'Ying Han Tan', 'company': 'Gorrrior', 'country': 'Australia'}
{'full_name': 'Kenneth Ng', 'company': 'Unilevieure', 'country': 'United States'}
{'full_name': 'Rubby Lee', 'company': 'Mineralleee', 'country': 'Hong Kong'}
{'full_name': 'Robert White', 'company': 'Gorrrior', 'country': 'United Kingdom'}

In [48]:
#Tugas 5

# Menginisialisasi dictionary untuk menyimpan hasil
company_nationality_count = defaultdict(lambda: defaultdict(int))

# Loop melalui detail karyawan untuk menghitung jumlah berdasarkan nationality
for employee in employee_detail_list:
    company_name = employee['company']
    nationality = employee['nationality']
    company_nationality_count[company_name][nationality] += 1

# Membuat list hasil akhir dengan format yang diinginkan
result = []
for company, nationality_count in company_nationality_count.items():
    result.append({
        "company": company,
        "employee_nationality": dict(nationality_count)
    })

# Cetak hasil
for entry in result:
    print(entry)

{'company': 'Gorrrior', 'employee_nationality': {'Australia': 2, 'United Kingdom': 1}}
{'company': 'Mineralleee', 'employee_nationality': {'United States': 1, 'Hong Kong': 1}}
{'company': 'Unilevieure', 'employee_nationality': {'United States': 2}}